[Unit]
Description=Anti Evil Maid system authentication (Plymouth)
DefaultDependencies=no
After=plymouth-start.service
Before=systemd-ask-password-plymouth.service systemd-ask-password-console.service
ConditionKernelCommandLine=rd.antievilmaid
ConditionKernelCommandLine=!plymouth.enable=0
ConditionPathExists=/run/plymouth/pid

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/sbin/anti-evil-maid
StandardInput=null
StandardOutput=inherit
StandardError=inherit
#TimeoutSec=0


