# Anti Evil Maid for dracut by Invisible Things Lab
# Copyright (C) 2010 Joanna Rutkowska <joanna@invisiblethingslab.com>
#
# Find the boot device (it should have a 'antievilmaid' label)
# so that we could read the sealed scret blobs from it.
#

SUBSYSTEM!="block", GOTO="luks_end"
ACTION!="add|change", GOTO="luks_end"

ENV{ID_FS_LABEL}=="antievilmaid", SYMLINK+="antievilmaid"

LABEL="luks_end"
