[Unit]
Description=Anti Evil Maid system authentication (Console)
DefaultDependencies=no
After=plymouth-start.service
Before=systemd-ask-password-plymouth.service systemd-ask-password-console.service
ConditionKernelCommandLine=rd.antievilmaid
ConditionPathExists=!/run/plymouth/pid

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/sbin/anti-evil-maid
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
#TimeoutSec=0


