[Unit]
Description=Anti Evil Maid sealing
DefaultDependencies=false
Requires=systemd-remount-fs.service tcsd.service
After=systemd-remount-fs.service tcsd.service plymouth-start.service
Before=sysinit.target
ConditionKernelCommandLine=rd.antievilmaid
ConditionPathExists=/run/anti-evil-maid-seal

[Service]
ExecStart=/usr/sbin/anti-evil-maid-seal
Type=oneshot
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=sysinit.target
